<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Здравствуйте!</h1>
    <p>
      У вас есть доступные карты для просмотра:
      <%= link_to 'flashcards', dashboard_root_url %>
    </p>
  </body>
</html>
